.container {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.root {
    position: relative;
    transition: var(--uk-sys-motion-easing-standard-normal) var(--uk-sys-motion-duration-150), outline-width linear 0s, outline-offset linear 0s;

    &[data-color="filled"] {
        background-color: rgb(var(--uk-sys-color-surface-container-highest));
        border-radius: var(--uk-sys-shape-corner-extra-small-top);
    }

    &[data-color="outlined"] {
        border-radius: var(--uk-sys-shape-corner-extra-small);
        outline-style: solid;
        outline-width: 1px;
        outline-offset: 0;
        outline-color: rgb(var(--uk-sys-color-outline));
        height: 3.5rem;

        &:has(> textarea) {
            min-height: max-content;
        }

        & > .labelText {
            top: 1px;
            left: 0;

            padding-top: 15px;
            padding-bottom: 15px;
        }

        &:focus-within, &[data-force-focus="true"] {
            outline-color: rgb(var(--uk-sys-color-primary));
            outline-width: 3px;
            outline-offset: -1px;
        }

        &[data-populated="true"], &:focus-within, &[data-force-focus="true"] {
            & > .labelText {
                font-family: var(--uk-sys-typescale-body-small-font), sans-serif;
                font-weight: var(--uk-sys-typescale-body-small-weight);
                letter-spacing: var(--uk-sys-typescale-body-small-tracking);
                line-height: var(--uk-sys-typescale-body-small-line-height);
                font-size: var(--uk-sys-typescale-body-small-size);
                top: -0.5rem;
                margin-left: 0.75rem;
                padding-top: 0;
                padding-bottom: 0;
                padding-left: 0.25rem;
                padding-right: 0.25rem;
                color: rgb(var(--uk-sys-color-on-surface-variant), 0.75);

                &::before {
                    width: 100%;
                    left: 0;
                    background-color: rgb(var(--uk-sys-color-surface-container-highest));
                }
            }
        }

        &[data-error="true"] {
            outline-color: rgb(var(--uk-sys-color-error));

            & > .labelText {
                color: rgb(var(--uk-sys-color-error));
            }

            & > .input {
                color: rgb(var(--uk-sys-color-on-surface));
            }
        }
    }
}

.labelText {
    position: absolute;
    user-select: none;
    pointer-events: none;
    transition: var(--uk-sys-motion-easing-standard-decelerate) var(--uk-sys-motion-duration-100);
    padding-left: 1rem;
    padding-right: 1rem;

    color: rgb(var(--uk-sys-color-on-surface-variant));
    font-family: var(--uk-sys-typescale-body-large-font), sans-serif;
    line-height: var(--uk-sys-typescale-body-large-line-height);
    font-size: var(--uk-sys-typescale-body-large-size);
    font-weight: var(--uk-sys-typescale-body-large-weight);
    letter-spacing: var(--uk-sys-typescale-body-large-tracking);
    z-index: 0;

    &::before {
        content: "";
        position: absolute;
        display: block;
        background-color: transparent;
        height: calc(var(--uk-sys-typescale-body-small-size) - 2px);
        width: calc(100% - 2rem);
        top: 1px;
        left: 1rem;
        z-index: -1;
        transition: var(--uk-sys-motion-easing-standard-decelerate) var(--uk-sys-motion-duration-100);
    }
}

.input {
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;

    color: rgb(var(--uk-sys-color-on-surface-variant));
    font-family: var(--uk-sys-typescale-body-large-font), sans-serif;
    line-height: var(--uk-sys-typescale-body-large-line-height);
    font-size: var(--uk-sys-typescale-body-large-size);
    font-weight: var(--uk-sys-typescale-body-large-weight);
    letter-spacing: var(--uk-sys-typescale-body-large-tracking);
}

textarea.input {
    display: block;
    resize: vertical;
    padding-top: 1rem;
    padding-bottom: 1rem;
    min-height: 3.5rem;

    &::-webkit-scrollbar {
        width: 0.75rem;
        height: 100%;
        background-color: rgb(var(--uk-sys-color-surface-variant));
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgb(var(--uk-sys-color-on-surface-variant));
        border-radius: 10rem;
        border: 2px solid rgb(var(--uk-sys-color-surface-variant));
    }

    &::-webkit-scrollbar-button {
        display: none;
        visibility: hidden;
    }

    &::-webkit-scrollbar-corner {
        background-color: rgb(var(--uk-sys-color-surface-variant));
        border: solid transparent 0;
        outline: solid transparent 0;
    }

    &::-webkit-resizer {
        background-color: rgb(var(--uk-sys-color-surface-variant));
        background-image: url(resizeHeightLight.svg);
        background-size: 0.75rem;
        background-repeat: no-repeat;
        background-position: center;

        border-top-left-radius: var(--uk-sys-shape-corner-extra-small);
        border-bottom-right-radius: var(--uk-sys-shape-corner-extra-small);
        outline-style: solid;
        outline-width: 1px;
        outline-offset: 0;
        outline-color: rgb(var(--uk-sys-color-outline));
    }
}

.supportingText {
    color: rgb(var(--uk-sys-color-on-surface-variant));
    font-family: var(--uk-sys-typescale-body-small-font), sans-serif;
    line-height: var(--uk-sys-typescale-body-small-line-height);
    font-size: var(--uk-sys-typescale-body-small-size);
    font-weight: var(--uk-sys-typescale-body-small-weight);
    letter-spacing: var(--uk-sys-typescale-body-small-tracking);

    padding-top: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &[data-error="true"] {
        color: rgb(var(--uk-sys-color-error));
    }
}
