.root {
    position: relative;
    z-index: 10;
}

.input {
    position: relative;
    z-index: 100;
}

.menu {
    position: absolute;
    z-index: 100;
    width: 100%;
}

.outside {
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: transparent;
    position: fixed;
}
