.root {
    position: relative;
    width: max-content;
    height: max-content;
}

.singleCount {
    position: absolute;
    left: calc(100% - 3px);
    top: -3px;
    background-color: rgb(var(--uk-sys-color-error));
    height: 6px;
    width: 6px;
    border-radius: var(--uk-sys-shape-corner-full);
}

.multipleCount {
    position: absolute;
    left: calc(100% - 12px);
    top: -8p;
    background-color: rgb(var(--uk-sys-color-error));
    height: 16px;
    border-radius: var(--uk-sys-shape-corner-full);

    color: rgb(var(--uk-sys-color-on-error));
    font-family: var(--uk-sys-typescale-label-small-font) sans-serif;
    font-size: var(--uk-sys-typescale-label-small-size);
    font-kerning: var(--uk-sys-typescale-label-small-tracking);
    font-weight: var(--uk-sys-typescale-label-small-weight);
    line-height: var(--uk-sys-typescale-label-small-line-height);
    padding-left: 4px;
    padding-right: 4px;
}
