.root {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    overflow: hidden;
    position: relative;
    grid-column: span 2;
    &:nth-child(2n) {
        grid-column: span 1;
    }
    &:nth-child(3n) {
        grid-column: span 1;
    }
    &:nth-child(4n) {
        grid-column: span 2;
    }

    > * {
        z-index: 1;
    }

    &:hover {
        .backgroundImage {
            --scale-factor: 1rem;

            top: calc(var(--scale-factor) * -1);
            left: calc(var(--scale-factor) * -1);

            width: calc(100% + calc(var(--scale-factor) * 2));
            height: calc(100% + calc(var(--scale-factor) * 2));
        }
    }
}

.backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
    pointer-events: none;
    z-index: 0;

    transition:
        top var(--uk-sys-motion-duration-250) var(--uk-sys-motion-easing-emphasized-decelerate),
        left var(--uk-sys-motion-duration-250) var(--uk-sys-motion-easing-emphasized-decelerate),
        width var(--uk-sys-motion-duration-250) var(--uk-sys-motion-easing-emphasized-decelerate),
        height var(--uk-sys-motion-duration-250) var(--uk-sys-motion-easing-emphasized-decelerate);
}

.footer {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    padding: 1rem;
    background: linear-gradient(to top, #000a, #0003);
    backdrop-filter: blur(0.125rem);
}
