.root {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
}

.modal {
    margin: auto;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    width: max-content;

    > .loginButtons {
        display: flex;
        flex-direction: row;
        align-items: end;
        gap: 0.5rem;
    }

    > .signupSegment {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }
}

.copyrightContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1rem;
}
