.root {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}

.page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    /* remove later */
    align-items: center;
    justify-content: center;
}
