.page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    /* remove later */
    align-items: center;
    justify-content: center;
}

.versionLabel {
    margin-top: auto;
    margin-bottom: 0.5rem;
}
