.page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    /* remove later */
    align-items: center;
    justify-content: center;

}

.tricolor {
    margin-top: auto;
    user-select: none;
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    margin-right: auto;
    background-position: center;
    background-size: 4rem;
    background-color: transparent;
    background-image: url("/assets/tricolor/tricolor_icon_transparent.svg");
}

.versionLabel {
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
}
