.root {
    &[data-role="display"] {
        &[data-size="s"] {
            font-family: var(--uk-sys-typescale-display-small-font), sans-serif;
            font-weight: var(--uk-sys-typescale-display-small-weight);
            font-size: var(--uk-sys-typescale-display-small-size);
            line-height: var(--uk-sys-typescale-display-small-line-height);
            letter-spacing: var(--uk-sys-typescale-display-small-tracking);

            font-variation-settings: 'opsz' 36;
        }

        &[data-size="m"] {
            font-family: var(--uk-sys-typescale-display-medium-font), sans-serif;
            font-weight: var(--uk-sys-typescale-display-medium-weight);
            font-size: var(--uk-sys-typescale-display-medium-size);
            line-height: var(--uk-sys-typescale-display-medium-line-height);
            letter-spacing: var(--uk-sys-typescale-display-medium-tracking);

            font-variation-settings: 'opsz' 45;
        }

        &[data-size="l"] {
            font-family: var(--uk-sys-typescale-display-large-font), sans-serif;
            font-weight: var(--uk-sys-typescale-display-large-weight);
            font-size: var(--uk-sys-typescale-display-large-size);
            line-height: var(--uk-sys-typescale-display-large-line-height);
            letter-spacing: var(--uk-sys-typescale-display-large-tracking);

            font-variation-settings: 'opsz' 57;
        }
    }

    &[data-role="headline"] {
        &[data-size="s"] {
            font-family: var(--uk-sys-typescale-headline-small-font), sans-serif;
            font-weight: var(--uk-sys-typescale-headline-small-weight);
            font-size: var(--uk-sys-typescale-headline-small-size);
            line-height: var(--uk-sys-typescale-headline-small-line-height);
            letter-spacing: var(--uk-sys-typescale-headline-small-tracking);

            font-variation-settings: 'opsz' 24;
        }

        &[data-size="m"] {
            font-family: var(--uk-sys-typescale-headline-medium-font), sans-serif;
            font-weight: var(--uk-sys-typescale-headline-medium-weight);
            font-size: var(--uk-sys-typescale-headline-medium-size);
            line-height: var(--uk-sys-typescale-headline-medium-line-height);
            letter-spacing: var(--uk-sys-typescale-headline-medium-tracking);

            font-variation-settings: 'opsz' 28;
        }

        &[data-size="l"] {
            font-family: var(--uk-sys-typescale-headline-large-font), sans-serif;
            font-weight: var(--uk-sys-typescale-headline-large-weight);
            font-size: var(--uk-sys-typescale-headline-large-size);
            line-height: var(--uk-sys-typescale-headline-large-line-height);
            letter-spacing: var(--uk-sys-typescale-headline-large-tracking);

            font-variation-settings: 'opsz' 32;
        }
    }

    &[data-role="title"] {
        &[data-size="s"] {
            font-family: var(--uk-sys-typescale-title-small-font), sans-serif;
            font-weight: var(--uk-sys-typescale-title-small-weight);
            font-size: var(--uk-sys-typescale-title-small-size);
            line-height: var(--uk-sys-typescale-title-small-line-height);
            letter-spacing: var(--uk-sys-typescale-title-small-tracking);

            font-variation-settings: 'opsz' 14;
        }

        &[data-size="m"] {
            font-family: var(--uk-sys-typescale-title-medium-font), sans-serif;
            font-weight: var(--uk-sys-typescale-title-medium-weight);
            font-size: var(--uk-sys-typescale-title-medium-size);
            line-height: var(--uk-sys-typescale-title-medium-line-height);
            letter-spacing: var(--uk-sys-typescale-title-medium-tracking);

            font-variation-settings: 'opsz' 16;
        }

        &[data-size="l"] {
            font-family: var(--uk-sys-typescale-title-large-font), sans-serif;
            font-weight: var(--uk-sys-typescale-title-large-weight);
            font-size: var(--uk-sys-typescale-title-large-size);
            line-height: var(--uk-sys-typescale-title-large-line-height);
            letter-spacing: var(--uk-sys-typescale-title-large-tracking);

            font-variation-settings: 'opsz' 22;
        }
    }

    &[data-role="body"] {
        &[data-size="s"] {
            font-family: var(--uk-sys-typescale-body-small-font), sans-serif;
            font-weight: var(--uk-sys-typescale-body-small-weight);
            font-size: var(--uk-sys-typescale-body-small-size);
            line-height: var(--uk-sys-typescale-body-small-line-height);
            letter-spacing: var(--uk-sys-typescale-body-small-tracking);

            font-variation-settings: 'opsz' 12;
        }

        &[data-size="m"] {
            font-family: var(--uk-sys-typescale-body-medium-font), sans-serif;
            font-weight: var(--uk-sys-typescale-body-medium-weight);
            font-size: var(--uk-sys-typescale-body-medium-size);
            line-height: var(--uk-sys-typescale-body-medium-line-height);
            letter-spacing: var(--uk-sys-typescale-body-medium-tracking);

            font-variation-settings: 'opsz' 14;
        }

        &[data-size="l"] {
            font-family: var(--uk-sys-typescale-body-large-font), sans-serif;
            font-weight: var(--uk-sys-typescale-body-large-weight);
            font-size: var(--uk-sys-typescale-body-large-size);
            line-height: var(--uk-sys-typescale-body-large-line-height);
            letter-spacing: var(--uk-sys-typescale-body-large-tracking);

            font-variation-settings: 'opsz' 16;
        }
    }

    &[data-role="label"] {
        &[data-size="s"] {
            font-family: var(--uk-sys-typescale-label-small-font), sans-serif;
            font-weight: var(--uk-sys-typescale-label-small-weight);
            font-size: var(--uk-sys-typescale-label-small-size);
            line-height: var(--uk-sys-typescale-label-small-line-height);
            letter-spacing: var(--uk-sys-typescale-label-small-tracking);

            font-variation-settings: 'opsz' 11;
        }

        &[data-size="m"] {
            font-family: var(--uk-sys-typescale-label-medium-font), sans-serif;
            font-weight: var(--uk-sys-typescale-label-medium-weight);
            font-size: var(--uk-sys-typescale-label-medium-size);
            line-height: var(--uk-sys-typescale-label-medium-line-height);
            letter-spacing: var(--uk-sys-typescale-label-medium-tracking);

            font-variation-settings: 'opsz' 12;
        }

        &[data-size="l"] {
            font-family: var(--uk-sys-typescale-label-large-font), sans-serif;
            font-weight: var(--uk-sys-typescale-label-large-weight);
            font-size: var(--uk-sys-typescale-label-large-size);
            line-height: var(--uk-sys-typescale-label-large-line-height);
            letter-spacing: var(--uk-sys-typescale-label-large-tracking);

            font-variation-settings: 'opsz' 14;
        }
    }

    &[data-emphasized="true"] {
        &[data-role="display"] {
            &[data-size="s"] {
                font-family: var(--uk-sys-typescale-emphasized-display-small-font), sans-serif;
                font-weight: var(--uk-sys-typescale-emphasized-display-small-weight);
                font-size: var(--uk-sys-typescale-emphasized-display-small-size);
                line-height: var(--uk-sys-typescale-emphasized-display-small-line-height);
                letter-spacing: var(--uk-sys-typescale-emphasized-display-small-tracking);

                font-variation-settings: 'opsz' 36;
            }

            &[data-size="m"] {
                font-family: var(--uk-sys-typescale-emphasized-display-medium-font), sans-serif;
                font-weight: var(--uk-sys-typescale-emphasized-display-medium-weight);
                font-size: var(--uk-sys-typescale-emphasized-display-medium-size);
                line-height: var(--uk-sys-typescale-emphasized-display-medium-line-height);
                letter-spacing: var(--uk-sys-typescale-emphasized-display-medium-tracking);

                font-variation-settings: 'opsz' 45;
            }

            &[data-size="l"] {
                font-family: var(--uk-sys-typescale-emphasized-display-large-font), sans-serif;
                font-weight: var(--uk-sys-typescale-emphasized-display-large-weight);
                font-size: var(--uk-sys-typescale-emphasized-display-large-size);
                line-height: var(--uk-sys-typescale-emphasized-display-large-line-height);
                letter-spacing: var(--uk-sys-typescale-emphasized-display-large-tracking);

                font-variation-settings: 'opsz' 57;
            }
        }

        &[data-role="headline"] {
            &[data-size="s"] {
                font-family: var(--uk-sys-typescale-emphasized-headline-small-font), sans-serif;
                font-weight: var(--uk-sys-typescale-emphasized-headline-small-weight);
                font-size: var(--uk-sys-typescale-emphasized-headline-small-size);
                line-height: var(--uk-sys-typescale-emphasized-headline-small-line-height);
                letter-spacing: var(--uk-sys-typescale-emphasized-headline-small-tracking);

                font-variation-settings: 'opsz' 24;
            }

            &[data-size="m"] {
                font-family: var(--uk-sys-typescale-emphasized-headline-medium-font), sans-serif;
                font-weight: var(--uk-sys-typescale-emphasized-headline-medium-weight);
                font-size: var(--uk-sys-typescale-emphasized-headline-medium-size);
                line-height: var(--uk-sys-typescale-emphasized-headline-medium-line-height);
                letter-spacing: var(--uk-sys-typescale-emphasized-headline-medium-tracking);

                font-variation-settings: 'opsz' 28;
            }

            &[data-size="l"] {
                font-family: var(--uk-sys-typescale-emphasized-headline-large-font), sans-serif;
                font-weight: var(--uk-sys-typescale-emphasized-headline-large-weight);
                font-size: var(--uk-sys-typescale-emphasized-headline-large-size);
                line-height: var(--uk-sys-typescale-emphasized-headline-large-line-height);
                letter-spacing: var(--uk-sys-typescale-emphasized-headline-large-tracking);

                font-variation-settings: 'opsz' 32;
            }
        }

        &[data-role="title"] {
            &[data-size="s"] {
                font-family: var(--uk-sys-typescale-emphasized-title-small-font), sans-serif;
                font-weight: var(--uk-sys-typescale-emphasized-title-small-weight);
                font-size: var(--uk-sys-typescale-emphasized-title-small-size);
                line-height: var(--uk-sys-typescale-emphasized-title-small-line-height);
                letter-spacing: var(--uk-sys-typescale-emphasized-title-small-tracking);

                font-variation-settings: 'opsz' 14;
            }

            &[data-size="m"] {
                font-family: var(--uk-sys-typescale-emphasized-title-medium-font), sans-serif;
                font-weight: var(--uk-sys-typescale-emphasized-title-medium-weight);
                font-size: var(--uk-sys-typescale-emphasized-title-medium-size);
                line-height: var(--uk-sys-typescale-emphasized-title-medium-line-height);
                letter-spacing: var(--uk-sys-typescale-emphasized-title-medium-tracking);

                font-variation-settings: 'opsz' 16;
            }

            &[data-size="l"] {
                font-family: var(--uk-sys-typescale-emphasized-title-large-font), sans-serif;
                font-weight: var(--uk-sys-typescale-emphasized-title-large-weight);
                font-size: var(--uk-sys-typescale-emphasized-title-large-size);
                line-height: var(--uk-sys-typescale-emphasized-title-large-line-height);
                letter-spacing: var(--uk-sys-typescale-emphasized-title-large-tracking);

                font-variation-settings: 'opsz' 22;
            }
        }

        &[data-role="body"] {
            &[data-size="s"] {
                font-family: var(--uk-sys-typescale-emphasized-body-small-font), sans-serif;
                font-weight: var(--uk-sys-typescale-emphasized-body-small-weight);
                font-size: var(--uk-sys-typescale-emphasized-body-small-size);
                line-height: var(--uk-sys-typescale-emphasized-body-small-line-height);
                letter-spacing: var(--uk-sys-typescale-emphasized-body-small-tracking);

                font-variation-settings: 'opsz' 12;
            }

            &[data-size="m"] {
                font-family: var(--uk-sys-typescale-emphasized-body-medium-font), sans-serif;
                font-weight: var(--uk-sys-typescale-emphasized-body-medium-weight);
                font-size: var(--uk-sys-typescale-emphasized-body-medium-size);
                line-height: var(--uk-sys-typescale-emphasized-body-medium-line-height);
                letter-spacing: var(--uk-sys-typescale-emphasized-body-medium-tracking);

                font-variation-settings: 'opsz' 14;
            }

            &[data-size="l"] {
                font-family: var(--uk-sys-typescale-emphasized-body-large-font), sans-serif;
                font-weight: var(--uk-sys-typescale-emphasized-body-large-weight);
                font-size: var(--uk-sys-typescale-emphasized-body-large-size);
                line-height: var(--uk-sys-typescale-emphasized-body-large-line-height);
                letter-spacing: var(--uk-sys-typescale-emphasized-body-large-tracking);

                font-variation-settings: 'opsz' 16;
            }
        }

        &[data-role="label"] {
            &[data-size="s"] {
                font-family: var(--uk-sys-typescale-emphasized-label-small-font), sans-serif;
                font-weight: var(--uk-sys-typescale-emphasized-label-small-weight);
                font-size: var(--uk-sys-typescale-emphasized-label-small-size);
                line-height: var(--uk-sys-typescale-emphasized-label-small-line-height);
                letter-spacing: var(--uk-sys-typescale-emphasized-label-small-tracking);

                font-variation-settings: 'opsz' 11;
            }

            &[data-size="m"] {
                font-family: var(--uk-sys-typescale-emphasized-label-medium-font), sans-serif;
                font-weight: var(--uk-sys-typescale-emphasized-label-medium-weight);
                font-size: var(--uk-sys-typescale-emphasized-label-medium-size);
                line-height: var(--uk-sys-typescale-emphasized-label-medium-line-height);
                letter-spacing: var(--uk-sys-typescale-emphasized-label-medium-tracking);

                font-variation-settings: 'opsz' 12;
            }

            &[data-size="l"] {
                font-family: var(--uk-sys-typescale-emphasized-label-large-font), sans-serif;
                font-weight: var(--uk-sys-typescale-emphasized-label-large-weight);
                font-size: var(--uk-sys-typescale-emphasized-label-large-size);
                line-height: var(--uk-sys-typescale-emphasized-label-large-line-height);
                letter-spacing: var(--uk-sys-typescale-emphasized-label-large-tracking);

                font-variation-settings: 'opsz' 14;
            }
        }
    }

    &[data-align="start"] {
        text-align: start;
    }

    &[data-align="center"] {
        text-align: center;
    }

    &[data-align="end"] {
        text-align: end;
    }
}
