.root {
    display: flex;
    background: transparent;
    border: none;
    color: unset;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;

    transition: padding var(--uk-sys-motion-duration-250) var(--uk-sys-motion-easing-emphasized-decelerate);

    & .icon {
        --icon-size: 24px;
        color: rgb(var(--uk-sys-color-on-surface-variant));
    }

    & .label {
        color: rgb(var(--uk-sys-color-on-surface-variant));
    }

    &[data-expanded="true"] {
        flex-direction: row;
        align-items: center;
        width: max-content;
    }

    &[data-expanded="false"] {
        flex-direction: column;
        justify-content: center;
        width: 100%;

        & .icon {
            padding-left: 1rem;
            padding-right: 1rem;
        }

        & .label {
            width: 3.5rem;
            text-align: center;
        }
    }

    &[data-active="true"] {
        & .label {
            color: rgb(var(--uk-sys-color-secondary));
        }

        &[data-expanded="true"] {
            background-color: rgb(var(--uk-sys-color-secondary-container));
        }

        &[data-expanded="false"] {
            & .icon {
                background-color: rgb(var(--uk-sys-color-secondary-container));
            }
        }
    }
}
