.root {
    &:first-of-type {
        margin-top: 2.75rem;
    }

    display: flex;
    background-color: rgb(0, 0, 0, 0);
    border: none;
    color: unset;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    position: relative;
    border-radius: 10rem;
    user-select: none;

    transition:
        padding var(--uk-sys-motion-duration-250) var(--uk-sys-motion-easing-emphasized-decelerate),
        background-color var(--uk-sys-motion-duration-250) var(--uk-sys-motion-easing-emphasized-decelerate);

    & .icon {
        --icon-size: 24px;
        color: rgb(var(--uk-sys-color-on-surface-variant));

        transition:
            width var(--uk-sys-motion-duration-250) var(--uk-sys-motion-easing-emphasized-decelerate),
            background-color var(--uk-sys-motion-duration-250) var(--uk-sys-motion-easing-emphasized-decelerate),
            color var(--uk-sys-motion-duration-250) var(--uk-sys-motion-easing-emphasized-decelerate);
    }

    & .label {
        color: rgb(var(--uk-sys-color-on-surface-variant));
        position: absolute;
        line-height: 1rem;
        padding-left: 0;

        transition:
            top var(--uk-sys-motion-duration-250) var(--uk-sys-motion-easing-emphasized-decelerate),
            left var(--uk-sys-motion-duration-250) var(--uk-sys-motion-easing-emphasized-decelerate),
            transform var(--uk-sys-motion-duration-250) var(--uk-sys-motion-easing-emphasized-decelerate);
    }

    &[data-expanded="true"] {
        flex-direction: row;
        align-items: center;
        width: max-content;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;

        & .label {
            position: relative;
            padding-left: 0.5rem;
            text-align: start;
        }

        & .icon {
            width: 1.5rem;
        }

        &:hover {
            background-color: rgb(var(--uk-sys-color-secondary-container), var(--uk-sys-state-hover-state-layer-opacity));
        }
    }

    &[data-expanded="false"] {
        width: 4rem;
        padding-bottom: 1rem;

        & .icon {
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
            width: 3.5rem;
            border-radius: 10rem;
        }

        &:hover {
            & .icon {
                background-color: rgb(var(--uk-sys-color-secondary-container), var(--uk-sys-state-hover-state-layer-opacity));
            }
        }

        & .badge {
            width: 100%;
        }

        & .label {
            width: max-content;
            max-width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            top: 2.25rem;
            left: 50%;
            text-align: center;
            transform: translate(-50%, 0);
        }
    }

    &[data-active="true"] {
        .label {
            color: rgb(var(--uk-sys-color-secondary));
        }

        &[data-expanded="true"] {
            background-color: rgb(var(--uk-sys-color-secondary-container));

            /* margin-left: 1.25rem; */
        }

        &[data-expanded="false"] {
            .icon {
                background-color: rgb(var(--uk-sys-color-secondary-container));
            }
        }
    }
}
