.root {
    display: flex;
    flex-direction: column;
    background-color: rgb(var(--uk-sys-color-surface-container));
    width: max-content;
    border-radius: var(--uk-sys-shape-corner-medium);
    overflow: hidden;
    padding-top: 8px;
    padding-bottom: 8px;
}

.buttonItem {
    position: relative;
    display: flex;
    flex-direction: row;
    border: none;
    background-color: rgb(var(--uk-sys-color-surface-container));
    gap: 12px;
    height: 48px;
    padding-left: 12px;
    padding-right: 12px;
    align-items: center;

    &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &:hover {
        &::before {
            background-color: rgb(var(--uk-sys-color-on-surface), var(--uk-sys-state-hover-state-layer-opacity));
        }
    }

    &:active {
        &::before {
            background-color: rgb(var(--uk-sys-color-on-surface), var(--uk-sys-state-pressed-state-layer-opacity));
        }
    }

    > .label {
        text-align: start;
        color: rgb(var(--uk-sys-color-on-surface));
    }

    > .leadingIcon {

    }

    > .trailingText {

    }

    > .trailingIcon {

    }
}
