.page {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    width: 100%;
    height: 100%;
}

.topBar {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    height: max-content;
    padding: 1rem;

    > *:first-child {
        margin-right: auto;
    }
}

.content {
    &[data-view-type="list"] {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    &[data-view-type="grid"] {
    }
}
