.modal {
    margin: auto;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    width: max-content;
    min-width: min(20rem, calc(100% - 2rem));

    > .stageButtons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;
        width: 100%;
    }
}

.usernameStage {
    &.modal {
        > .loginSegment {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;
        }

        > .stageButtons {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: end;
            gap: 0.5rem;
            width: 100%;
        }
    }
}

.twoFactorStage {
    &.modal {
        > .skipButton {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.profileStage {
    &.modal {
        > .avatar {
            margin-left: auto;
            margin-right: auto;
        }

        > .username {
            margin-top: -0.5rem;
        }
    }
}
