.modal {
    margin: auto;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    width: max-content;

    > .signup {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        width: 100%;
    }

    > .loginSegment {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }
}
