.root {
    background-color: rgb(var(--uk-sys-color-primary));
    color: rgb(var(--uk-sys-color-on-primary));
    height: 40px;
    border: none;
    --icon-size: 24px;
    overflow: hidden;
    position: relative;
    outline-style: solid;
    outline-offset: 2px;
    outline-width: 0;
    outline-color: transparent;

    padding-left: var(--padding-left-override, var(--padding-left, 0px));
    padding-right: var(--padding-right-override, var(--padding-right, 0px));

    transition:
        all var(--uk-sys-motion-duration-50) var(--transition-all, linear),
        outline-color var(--uk-sys-motion-duration-100) var(--uk-sys-motion-easing-standard-decelerate),
        outline-width 0ms linear,
        background-color var(--uk-sys-motion-duration-100) var(--uk-sys-motion-easing-standard-normal),
        color var(--uk-sys-motion-duration-100) var(--uk-sys-motion-easing-standard-normal),
        padding-left var(--uk-sys-motion-duration-50) var(--uk-sys-motion-easing-linear),
        margin-left var(--uk-sys-motion-duration-50) var(--uk-sys-motion-easing-linear),
        padding-right var(--uk-sys-motion-duration-50) var(--uk-sys-motion-easing-linear),
        margin-right var(--uk-sys-motion-duration-50) var(--uk-sys-motion-easing-linear),
        border-radius var(--border-radius-duration, var(--uk-sys-motion-duration-50)) var(--uk-sys-motion-easing-linear);

    &::before {
        content: "";
        position: absolute;
        transition: background-color var(--uk-sys-motion-duration-100) var(--uk-sys-motion-easing-standard-normal);
        background-color: transparent;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &:focus-visible {
        outline-width: var(--uk-sys-state-focus-indicator-thickness);
        outline-offset: var(--uk-sys-state-focus-indicator-outer-offset);
        outline-color: rgb(var(--uk-sys-color-secondary));
    }

    &:focus,
    &:hover {
        --border-radius-duration: var(--uk-sys-motion-duration-200);
    }

    &:active {
        --border-radius-duration: var(--uk-sys-motion-duration-50);
    }

    &:disabled {
        background-color: rgb(var(--uk-sys-color-on-surface), 0.1);
        color: rgb(var(--uk-sys-color-on-surface), 0.38);
        cursor: not-allowed;
    }

    &[data-size="xs"] {
        height: 32px;
        border-width: 1px;
        --icon-size: 20px;
        --outline-width: 1px;

        &[data-width="narrow"] {
            --padding-left: 4px;
            --padding-right: 4px;
        }

        &[data-width="default"] {
            --padding-left: 6px;
            --padding-right: 6px;
        }

        &[data-width="wide"] {
            --padding-left: 10px;
            --padding-right: 10px;
        }

        &[data-shape="round"] {
            border-radius: 24px;

            &[data-selected="true"] {
                border-radius: var(--uk-sys-shape-corner-medium);
            }
        }

        &[data-shape="square"] {
            border-radius: var(--uk-sys-shape-corner-medium);

            &[data-selected="true"] {
                border-radius: 24px;
            }
        }

        &:active:not(:disabled) {
            border-radius: var(--uk-sys-shape-corner-small);
        }
    }

    &[data-size="s"] {
        height: 40px;
        border-width: 1px;
        --icon-size: 24px;
        --outline-width: 1px;

        &[data-width="narrow"] {
            --padding-left: 4px;
            --padding-right: 4px;
        }

        &[data-width="default"] {
            --padding-left: 8px;
            --padding-right: 8px;
        }

        &[data-width="wide"] {
            --padding-left: 14px;
            --padding-right: 14px;
        }

        &[data-shape="round"] {
            border-radius: 40px;

            &[data-selected="true"] {
                border-radius: var(--uk-sys-shape-corner-medium);
            }
        }

        &[data-shape="square"] {
            border-radius: var(--uk-sys-shape-corner-medium);

            &[data-selected="true"] {
                border-radius: 40px;
            }
        }

        &:active:not(:disabled) {
            border-radius: var(--uk-sys-shape-corner-small);
        }
    }

    &[data-size="m"] {
        height: 56px;
        border-width: 1px;
        --icon-size: 24px;
        --outline-width: 1px;

        &[data-width="narrow"] {
            --padding-left: 12px;
            --padding-right: 12px;
        }

        &[data-width="default"] {
            --padding-left: 16px;
            --padding-right: 16px;
        }

        &[data-width="wide"] {
            --padding-left: 24px;
            --padding-right: 24px;
        }

        &[data-shape="round"] {
            border-radius: 56px;

            &[data-selected="true"] {
                border-radius: var(--uk-sys-shape-corner-large);
            }
        }

        &[data-shape="square"] {
            border-radius: var(--uk-sys-shape-corner-large);

            &[data-selected="true"] {
                border-radius: 56px;
            }
        }

        &:active:not(:disabled) {
            border-radius: var(--uk-sys-shape-corner-medium);
        }
    }

    &[data-size="l"] {
        height: 96px;
        border-width: 2px;
        --icon-size: 32px;
        --outline-width: 2px;

        &[data-width="narrow"] {
            --padding-left: 16px;
            --padding-right: 16px;
        }

        &[data-width="default"] {
            --padding-left: 32px;
            --padding-right: 32px;
        }

        &[data-width="wide"] {
            --padding-left: 48px;
            --padding-right: 48px;
        }

        &[data-shape="round"] {
            border-radius: 96px;

            &[data-selected="true"] {
                border-radius: var(--uk-sys-shape-corner-extra-large);
            }
        }

        &[data-shape="square"] {
            border-radius: var(--uk-sys-shape-corner-extra-large);

            &[data-selected="true"] {
                border-radius: 96px;
            }
        }

        &:active:not(:disabled) {
            border-radius: var(--uk-sys-shape-corner-large);
        }
    }

    &[data-size="xl"] {
        height: 136px;
        border-width: 3px;
        --icon-size: 40px;
        --outline-width: 3px;

        &[data-width="narrow"] {
            --padding-left: 32px;
            --padding-right: 32px;
        }

        &[data-width="default"] {
            --padding-left: 48px;
            --padding-right: 48px;
        }

        &[data-width="wide"] {
            --padding-left: 72px;
            --padding-right: 72px;
        }

        &[data-shape="round"] {
            border-radius: 136px;

            &[data-selected="true"] {
                border-radius: var(--uk-sys-shape-corner-extra-large);
            }
        }

        &[data-shape="square"] {
            border-radius: var(--uk-sys-shape-corner-extra-large);

            &[data-selected="true"] {
                border-radius: 136px;
            }
        }

        &:active:not(:disabled) {
            border-radius: var(--uk-sys-shape-corner-large);
        }
    }

    &[data-color="filled"] {
        background-color: rgb(var(--uk-sys-color-primary));
        color: rgb(var(--uk-sys-color-on-primary));

        &[data-type="toggle"] {
            background-color: rgb(var(--uk-sys-color-surface-container));
            color: rgb(var(--uk-sys-color-on-surface-variant));
        }

        &[data-selected="true"] {
            background-color: rgb(var(--uk-sys-color-primary));
            color: rgb(var(--uk-sys-color-on-primary));
        }

        &:focus-visible {
            color: rgb(var(--uk-sys-color-on-primary));

            &::before {
                background-color: rgb(var(--uk-sys-color-on-primary), var(--uk-sys-state-focus-state-layer-opacity));
            }

            &[data-type="toggle"] {
                color: rgb(var(--uk-sys-color-on-surface-variant));

                &::before {
                    background-color: rgb(var(--uk-sys-color-on-surface-variant), var(--uk-sys-state-focus-state-layer-opacity));
                }
            }

            &[data-selected="true"] {
                color: rgb(var(--uk-sys-color-on-primary));

                &::before {
                    background-color: rgb(var(--uk-sys-color-on-surface-variant), var(--uk-sys-state-focus-state-layer-opacity));
                }
            }
        }

        &:hover {
            color: rgb(var(--uk-sys-color-on-primary));

            &::before {
                background-color: rgb(var(--uk-sys-color-on-primary), var(--uk-sys-state-hover-state-layer-opacity));
            }

            &[data-type="toggle"] {
                color: rgb(var(--uk-sys-color-on-surface-variant));

                &::before {
                    background-color: rgb(var(--uk-sys-color-on-surface-variant), var(--uk-sys-state-hover-state-layer-opacity));
                }
            }

            &[data-selected="true"] {
                color: rgb(var(--uk-sys-color-on-primary));

                &::before {
                    background-color: rgb(var(--uk-sys-color-on-surface-variant), var(--uk-sys-state-hover-state-layer-opacity));
                }
            }
        }

        &:active {
            color: rgb(var(--uk-sys-color-on-primary));

            &::before {
                background-color: rgb(var(--uk-sys-color-on-primary), var(--uk-sys-state-pressed-state-layer-opacity));
            }

            &[data-type="toggle"] {
                color: rgb(var(--uk-sys-color-on-surface-variant));

                &::before {
                    background-color: rgb(var(--uk-sys-color-on-surface-variant), var(--uk-sys-state-pressed-state-layer-opacity));
                }
            }

            &[data-selected="true"] {
                color: rgb(var(--uk-sys-color-on-primary));

                &::before {
                    background-color: rgb(var(--uk-sys-color-on-surface-variant), var(--uk-sys-state-pressed-state-layer-opacity));
                }
            }
        }

        &:disabled {
            background-color: rgb(var(--uk-sys-color-on-surface), 0.1);
            color: rgb(var(--uk-sys-color-on-surface), 0.38);
        }
    }

    &[data-color="tonal"] {
        background-color: rgb(var(--uk-sys-color-secondary-container));
        color: rgb(var(--uk-sys-color-on-secondary-container));

        &[data-type="toggle"] {
            background-color: rgb(var(--uk-sys-color-secondary-container));
            color: rgb(var(--uk-sys-color-on-secondary-container));
        }

        &[data-selected="true"] {
            background-color: rgb(var(--uk-sys-color-secondary));
            color: rgb(var(--uk-sys-color-on-secondary));
        }

        &:focus-visible {
            color: rgb(var(--uk-sys-color-on-secondary-container));

            &::before {
                background-color: rgb(var(--uk-sys-color-on-secondary-container), var(--uk-sys-state-focus-state-layer-opacity));
            }

            &[data-type="toggle"] {
                color: rgb(var(--uk-sys-color-on-secondary-container));

                &::before {
                    background-color: rgb(var(--uk-sys-color-on-secondary-container), var(--uk-sys-state-focus-state-layer-opacity));
                }
            }

            &[data-selected="true"] {
                color: rgb(var(--uk-sys-color-on-secondary));

                &::before {
                    background-color: rgb(var(--uk-sys-color-on-secondary), var(--uk-sys-state-focus-state-layer-opacity));
                }
            }
        }

        &:hover {
            color: rgb(var(--uk-sys-color-on-secondary-container));

            &::before {
                background-color: rgb(var(--uk-sys-color-on-secondary-container), var(--uk-sys-state-hover-state-layer-opacity));
            }

            &[data-type="toggle"] {
                color: rgb(var(--uk-sys-color-on-secondary-container));

                &::before {
                    background-color: rgb(var(--uk-sys-color-on-secondary-container), var(--uk-sys-state-over-state-layer-opacity));
                }
            }

            &[data-selected="true"] {
                color: rgb(var(--uk-sys-color-on-secondary));

                &::before {
                    background-color: rgb(var(--uk-sys-color-on-secondary), var(--uk-sys-state-hover-state-layer-opacity));
                }
            }
        }

        &:active {
            color: rgb(var(--uk-sys-color-on-secondary-container));

            &::before {
                background-color: rgb(var(--uk-sys-color-on-secondary-container), var(--uk-sys-state-pressed-state-layer-opacity));
            }

            &[data-type="toggle"] {
                color: rgb(var(--uk-sys-color-on-surface-variant));

                &::before {
                    background-color: rgb(var(--uk-sys-color-on-secondary-container), var(--uk-sys-state-pressed-state-layer-opacity));
                }
            }

            &[data-selected="true"] {
                color: rgb(var(--uk-sys-color-on-secondary));

                &::before {
                    background-color: rgb(var(--uk-sys-color-on-secondary), var(--uk-sys-state-pressed-state-layer-opacity));
                }
            }
        }

        &:disabled {
            background-color: rgb(var(--uk-sys-color-on-surface), 0.1);
            color: rgb(var(--uk-sys-color-on-surface), 0.38);
        }
    }

    &[data-color="outlined"] {
        background-color: transparent;
        color: rgb(var(--uk-sys-color-on-surface-variant));
        border-style: solid;
        border-color: rgb(var(--uk-sys-color-outline-variant));

        &[data-type="toggle"] {
            color: rgb(var(--uk-sys-color-on-surface-variant));
        }

        &[data-selected="true"] {
            background-color: rgb(var(--uk-sys-color-inverse-surface));
            color: rgb(var(--uk-sys-color-inverse-on-surface));
        }

        &:focus-visible {
            color: rgb(var(--uk-sys-color-on-surface-variant));

            &::before {
                background-color: rgb(var(--uk-sys-color-on-surface-variant), var(--uk-sys-state-focus-state-layer-opacity));
            }

            &[data-type="toggle"] {
                color: rgb(var(--uk-sys-color-on-surface-variant));

                &::before {
                    background-color: rgb(var(--uk-sys-color-on-secondary-container), var(--uk-sys-state-focus-state-layer-opacity));
                }
            }

            &[data-selected="true"] {
                color: rgb(var(--uk-sys-color-inverse-on-surface));

                &::before {
                    background-color: rgb(var(--uk-sys-color-inverse-on-surface), var(--uk-sys-state-focus-state-layer-opacity));
                }
            }
        }

        &:hover {
            color: rgb(var(--uk-sys-color-on-surface-variant));

            &::before {
                background-color: rgb(var(--uk-sys-color-on-surface-variant), var(--uk-sys-state-hover-state-layer-opacity));
            }

            &[data-type="toggle"] {
                color: rgb(var(--uk-sys-color-on-surface-variant));

                &::before {
                    background-color: rgb(var(--uk-sys-color-on-surface-variant), var(--uk-sys-state-hover-state-layer-opacity));
                }
            }

            &[data-selected="true"] {
                color: rgb(var(--uk-sys-color-inverse-on-surface));

                &::before {
                    background-color: rgb(var(--uk-sys-color-inverse-on-surface), var(--uk-sys-state-hover-state-layer-opacity));
                }
            }
        }

        &:active {
            color: rgb(var(--uk-sys-color-on-surface-variant));

            &::before {
                background-color: rgb(var(--uk-sys-color-on-surface-variant), var(--uk-sys-state-pressed-state-layer-opacity));
            }

            &[data-type="toggle"] {
                color: rgb(var(--uk-sys-color-on-surface-variant));

                &::before {
                    background-color: rgb(var(--uk-sys-color-on-surface-variant), var(--uk-sys-state-pressed-state-layer-opacity));
                }
            }

            &[data-selected="true"] {
                color: rgb(var(--uk-sys-color-inverse-on-surface));

                &::before {
                    background-color: rgb(var(--uk-sys-color-inverse-on-surface), var(--uk-sys-state-pressed-state-layer-opacity));
                }
            }
        }

        &:disabled {
            background-color: rgb(var(--uk-sys-color-on-surface), 0.1);
            color: rgb(var(--uk-sys-color-on-surface), 0.38);
        }
    }

    &[data-color="standard"] {
        background-color: transparent;
        color: rgb(var(--uk-sys-color-on-surface-variant));

        &[data-type="toggle"] {
            color: rgb(var(--uk-sys-color-on-surface-variant));
        }

        &[data-selected="true"] {
            color: rgb(var(--uk-sys-color-primary));
        }

        &:focus-visible {
            color: rgb(var(--uk-sys-color-on-surface-variant));

            &::before {
                background-color: rgb(var(--uk-sys-color-on-surface-variant), var(--uk-sys-state-focus-state-layer-opacity));
            }

            &[data-type="toggle"] {
                color: rgb(var(--uk-sys-color-on-surface-variant));

                &::before {
                    background-color: rgb(var(--uk-sys-color-on-surface-variant), var(--uk-sys-state-focus-state-layer-opacity));
                }
            }

            &[data-selected="true"] {
                color: rgb(var(--uk-sys-color-primary));

                &::before {
                    background-color: rgb(var(--uk-sys-color-primary), var(--uk-sys-state-focus-state-layer-opacity));
                }
            }
        }

        &:hover {
            color: rgb(var(--uk-sys-color-on-surface-variant));

            &::before {
                background-color: rgb(var(--uk-sys-color-on-surface-variant), var(--uk-sys-state-hover-state-layer-opacity));
            }

            &[data-type="toggle"] {
                color: rgb(var(--uk-sys-color-on-surface-variant));

                &::before {
                    background-color: rgb(var(--uk-sys-color-on-surface-variant), var(--uk-sys-state-hover-state-layer-opacity));
                }
            }

            &[data-selected="true"] {
                color: rgb(var(--uk-sys-color-primary));

                &::before {
                    background-color: rgb(var(--uk-sys-color-primary), var(--uk-sys-state-hover-state-layer-opacity));
                }
            }
        }

        &:active {
            color: rgb(var(--uk-sys-color-on-surface-variant));

            &::before {
                background-color: rgb(var(--uk-sys-color-on-surface-variant), var(--uk-sys-state-pressed-state-layer-opacity));
            }

            &[data-type="toggle"] {
                color: rgb(var(--uk-sys-color-on-surface-variant));

                &::before {
                    background-color: rgb(var(--uk-sys-color-on-surface-variant), var(--uk-sys-state-pressed-state-layer-opacity));
                }
            }

            &[data-selected="true"] {
                color: rgb(var(--uk-sys-color-primary));

                &::before {
                    background-color: rgb(var(--uk-sys-color-primary), var(--uk-sys-state-pressed-state-layer-opacity));
                }
            }
        }

        &:disabled {
            color: rgb(var(--uk-sys-color-on-surface), 0.38);
        }
    }
}
