.root {
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    user-select: none;

    outline-style: solid;
    outline-offset: 2px;
    outline-width: 0;
    outline-color: transparent;

    --shadow-elevation: 6px;

    box-shadow: 0 0 var(--shadow-elevation) rgb(var(--uk-sys-color-shadow));

    transition:
        all var(--uk-sys-motion-duration-50) var(--transition-all, linear),
        outline-color var(--uk-sys-motion-duration-100) var(--uk-sys-motion-easing-standard-decelerate),
        outline-width 0ms linear,
        background-color var(--uk-sys-motion-duration-100) var(--uk-sys-motion-easing-standard-normal),
        color var(--uk-sys-motion-duration-100) var(--uk-sys-motion-easing-standard-normal),
        padding-left var(--uk-sys-motion-duration-50) var(--uk-sys-motion-easing-linear),
        margin-left var(--uk-sys-motion-duration-50) var(--uk-sys-motion-easing-linear),
        padding-right var(--uk-sys-motion-duration-50) var(--uk-sys-motion-easing-linear),
        margin-right var(--uk-sys-motion-duration-50) var(--uk-sys-motion-easing-linear);

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: background-color var(--uk-sys-motion-duration-100) var(--uk-sys-motion-easing-standard-normal);
        background-color: transparent;
    }

    &:focus-visible {
        outline-width: var(--uk-sys-state-focus-indicator-thickness);
        outline-offset: var(--uk-sys-state-focus-indicator-outer-offset);
        outline-color: rgb(var(--uk-sys-color-secondary));
    }

    &[disabled] {
        cursor: not-allowed;
    }

    &[data-size="small"] {
        height: 56px;
        padding-left: 16px;
        padding-right: 16px;
        gap: 8px;
        border-radius: var(--uk-sys-shape-corner-large);
        font-family: var(--uk-ref-typeface-brand);
        font-weight: var(--uk-ref-weight-medium);
        font-size: 16px;
        line-height: 24px;
        font-kerning: 0.15px;

        .icon {
            --icon-size: 24px;
        }
    }
    &[data-size="medium"] {
        height: 80px;
        padding-left: 26px;
        padding-right: 26px;
        gap: 12px;
        border-radius: 20px;
        font-family: var(--uk-ref-typeface-brand);
        font-weight: var(--uk-ref-weight-regular);
        font-size: 22px;
        line-height: 28px;
        font-kerning: 0;

        .icon {
            --icon-size: 28px;
        }
    }
    &[data-size="large"] {
        height: 96px;
        padding-left: 28px;
        padding-right: 28px;
        gap: 16px;
        border-radius: var(--uk-sys-shape-corner-extra-large);
        font-family: var(--uk-ref-typeface-brand);
        font-weight: var(--uk-ref-weight-regular);
        font-size: 24px;
        line-height: 32px;
        font-kerning: 0;

        .icon {
            --icon-size: 36px;
        }
    }

    &[data-color="tonal-primary"] {
        background-color: rgb(var(--uk-sys-color-primary-container));
        color: rgb(var(--uk-sys-color-on-primary-container));

        &:hover {
            &::after {
                background-color: rgb(var(--uk-sys-color-on-primary-container), var(--uk-sys-state-hover-state-layer-opacity));
            }

            color: rgb(var(--uk-sys-color-on-primary-container));
            --shadow-elevation: 8px;
        }

        &:focus-visible {
            &::after {
                background-color: rgb(var(--uk-sys-color-on-primary-container), var(--uk-sys-state-focus-state-layer-opacity));
            }

            color: rgb(var(--uk-sys-color-on-primary-container));
            --shadow-elevation: 6px;
        }

        &:active {
            &::after {
                background-color: rgb(var(--uk-sys-color-on-primary-container), var(--uk-sys-state-pressed-state-layer-opacity));
            }

            color: rgb(var(--uk-sys-color-on-primary-container));
            --shadow-elevation: 6px;
        }
    }
    &[data-color="tonal-secondary"] {
        background-color: rgb(var(--uk-sys-color-secondary-container));
        color: rgb(var(--uk-sys-color-on-secondary-container));

        &:hover {
            &::after {
                background-color: rgb(var(--uk-sys-color-on-secondary-container), var(--uk-sys-state-hover-state-layer-opacity));
            }

            color: rgb(var(--uk-sys-color-on-secondary-container));
            --shadow-elevation: 8px;
        }

        &:focus-visible {
            &::after {
                background-color: rgb(var(--uk-sys-color-on-secondary-container), var(--uk-sys-state-focus-state-layer-opacity));
            }

            color: rgb(var(--uk-sys-color-on-secondary-container));
            --shadow-elevation: 6px;
        }

        &:active {
            &::after {
                background-color: rgb(var(--uk-sys-color-on-secondary-container), var(--uk-sys-state-pressed-state-layer-opacity));
            }

            color: rgb(var(--uk-sys-color-on-secondary-container));
            --shadow-elevation: 6px;
        }
    }
    &[data-color="tonal-tertiary"] {
        background-color: rgb(var(--uk-sys-color-tertiary-container));
        color: rgb(var(--uk-sys-color-on-tertiary-container));

        &:hover {
            &::after {
                background-color: rgb(var(--uk-sys-color-on-tertiary-container), var(--uk-sys-state-hover-state-layer-opacity));
            }

            color: rgb(var(--uk-sys-color-on-tertiary-container));
            --shadow-elevation: 8px;
        }

        &:focus-visible {
            &::after {
                background-color: rgb(var(--uk-sys-color-on-tertiary-container), var(--uk-sys-state-focus-state-layer-opacity));
            }

            color: rgb(var(--uk-sys-color-on-tertiary-container));
            --shadow-elevation: 6px;
        }

        &:active {
            &::after {
                background-color: rgb(var(--uk-sys-color-on-tertiary-container), var(--uk-sys-state-pressed-state-layer-opacity));
            }

            color: rgb(var(--uk-sys-color-on-tertiary-container));
            --shadow-elevation: 6px;
        }
    }

    &[data-color="primary"] {
        background-color: rgb(var(--uk-sys-color-primary));
        color: rgb(var(--uk-sys-color-on-primary));

        &:hover {
            &::after {
                background-color: rgb(var(--uk-sys-color-on-primary), var(--uk-sys-state-hover-state-layer-opacity));
            }

            color: rgb(var(--uk-sys-color-on-primary));
            --shadow-elevation: 8px;
        }

        &:focus-visible {
            &::after {
                background-color: rgb(var(--uk-sys-color-on-primary), var(--uk-sys-state-focus-state-layer-opacity));
            }

            color: rgb(var(--uk-sys-color-on-primary));
            --shadow-elevation: 6px;
        }

        &:active {
            &::after {
                background-color: rgb(var(--uk-sys-color-on-primary), var(--uk-sys-state-pressed-state-layer-opacity));
            }

            color: rgb(var(--uk-sys-color-on-primary));
            --shadow-elevation: 6px;
        }
    }
    &[data-color="secondary"] {
        background-color: rgb(var(--uk-sys-color-secondary));
        color: rgb(var(--uk-sys-color-on-secondary));

        &:hover {
            &::after {
                background-color: rgb(var(--uk-sys-color-on-secondary), var(--uk-sys-state-hover-state-layer-opacity));
            }

            color: rgb(var(--uk-sys-color-on-secondary));
            --shadow-elevation: 8px;
        }

        &:focus-visible {
            &::after {
                background-color: rgb(var(--uk-sys-color-on-secondary), var(--uk-sys-state-focus-state-layer-opacity));
            }

            color: rgb(var(--uk-sys-color-on-secondary));
            --shadow-elevation: 6px;
        }

        &:active {
            &::after {
                background-color: rgb(var(--uk-sys-color-on-secondary), var(--uk-sys-state-pressed-state-layer-opacity));
            }

            color: rgb(var(--uk-sys-color-on-secondary));
            --shadow-elevation: 6px;
        }
    }
    &[data-color="tertiary"] {
        background-color: rgb(var(--uk-sys-color-tertiary));
        color: rgb(var(--uk-sys-color-on-tertiary));

        &:hover {
            &::after {
                background-color: rgb(var(--uk-sys-color-on-tertiary), var(--uk-sys-state-hover-state-layer-opacity));
            }

            color: rgb(var(--uk-sys-color-on-tertiary));
            --shadow-elevation: 8px;
        }

        &:focus-visible {
            &::after {
                background-color: rgb(var(--uk-sys-color-on-tertiary), var(--uk-sys-state-focus-state-layer-opacity));
            }

            color: rgb(var(--uk-sys-color-on-tertiary));
            --shadow-elevation: 6px;
        }

        &:active {
            &::after {
                background-color: rgb(var(--uk-sys-color-on-tertiary), var(--uk-sys-state-pressed-state-layer-opacity));
            }

            color: rgb(var(--uk-sys-color-on-tertiary));
            --shadow-elevation: 6px;
        }
    }
}
