.root {
    padding: 0.25rem;
    height: 2rem;
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    width: max-content;
    user-select: none;
    cursor: pointer;

    &[data-type="assist"] {
        cursor: unset;

        border-radius: var(--uk-sys-shape-corner-small);
        border-width: 1px;
        border-style: solid;
        border-color: rgb(var(--uk-sys-color-outline-variant));
        background-color: rgb(var(--uk-sys-color-surface-container-low));
    }
}

.label {
    justify-self: center;
    align-self: center;
}

.icon {
    --icon-size: 18px;
}
