.root {
    &:first-of-type {
        margin-top: 2.75rem;
    }

    display: flex;
    background-color: rgb(0, 0, 0, 0);
    border: none;
    color: unset;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    position: relative;
    border-radius: 2rem;
    user-select: none;

    transition:
        padding var(--uk-sys-motion-duration-250) var(--uk-sys-motion-easing-emphasized-decelerate),
        background-color var(--uk-sys-motion-duration-250) var(--uk-sys-motion-easing-emphasized-decelerate),
        border-radius var(--border-radius-duration, var(--uk-sys-motion-duration-50)) var(--uk-sys-motion-easing-linear);

    & .icon {
        --icon-size: 24px;
        color: rgb(var(--uk-sys-color-on-surface-variant));
        margin: 0;

        transition:
            width var(--uk-sys-motion-duration-250) var(--uk-sys-motion-easing-emphasized-decelerate),
            height var(--uk-sys-motion-duration-250) var(--uk-sys-motion-easing-emphasized-decelerate),
            background-color var(--uk-sys-motion-duration-250) var(--uk-sys-motion-easing-emphasized-decelerate),
            color var(--uk-sys-motion-duration-250) var(--uk-sys-motion-easing-emphasized-decelerate),
            margin-left var(--uk-sys-motion-duration-250) var(--uk-sys-motion-easing-emphasized-decelerate),
            margin-right var(--uk-sys-motion-duration-250) var(--uk-sys-motion-easing-emphasized-decelerate),
            margin-top var(--uk-sys-motion-duration-250) var(--uk-sys-motion-easing-emphasized-decelerate),
            margin-bottom var(--uk-sys-motion-duration-250) var(--uk-sys-motion-easing-emphasized-decelerate);
    }

    & .label {
        color: rgb(var(--uk-sys-color-on-surface-variant));
        position: absolute;
        line-height: 1rem;
        padding-left: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;

        transition:
            top var(--uk-sys-motion-duration-250) var(--uk-sys-motion-easing-emphasized-decelerate),
            left var(--uk-sys-motion-duration-250) var(--uk-sys-motion-easing-emphasized-decelerate),
            transform var(--uk-sys-motion-duration-250) var(--uk-sys-motion-easing-emphasized-decelerate),
            padding-left var(--uk-sys-motion-duration-250) var(--uk-sys-motion-easing-emphasized-decelerate);
    }

    &[data-expanded="true"] {
        flex-direction: row;
        align-items: center;
        width: max-content;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-radius: 3.5rem;

        & .label {
            padding-left: 0.5rem;
            text-align: start;
            animation: label-fade-in-expanded var(--uk-sys-motion-duration-250) var(--uk-sys-motion-easing-emphasized-decelerate) forwards;
        }

        & .icon {
            width: 1.5rem;
        }
    }

    &[data-expanded="false"] {
        width: 4rem;
        margin-bottom: 1rem;

        & .icon {
            margin-top: 0.25rem;
            margin-bottom: 0.25rem;
            margin-left: 1.25rem;
            margin-right: 1.25rem;
            border-radius: 10rem;
        }

        & .badge {
            width: 100%;
        }

        & .label {
            max-width: 100%;
            left: 50%;
            text-align: center;
            transform: translate(-50%, 0);
            animation: label-fade-in-collapsed var(--uk-sys-motion-duration-250) var(--uk-sys-motion-easing-emphasized-decelerate) forwards;
        }
    }

    &[data-active="true"] {
        .label {
            color: rgb(var(--uk-sys-color-secondary));
        }

        &[data-expanded="true"] {
            background-color: rgb(var(--uk-sys-color-secondary-container));

            /* margin-left: 1.25rem; */
        }

        &[data-expanded="false"] {
            background-color: rgb(var(--uk-sys-color-secondary-container));
        }
    }

    &:hover {
        background-color: rgb(var(--uk-sys-color-secondary-container), var(--uk-sys-state-hover-state-layer-opacity));
    }

    &:active {
        background-color: rgb(var(--uk-sys-color-secondary-container), var(--uk-sys-state-pressed-state-layer-opacity));
    }

    &:focus-visible {
        outline-width: var(--uk-sys-state-focus-indicator-thickness);
        outline-offset: var(--uk-sys-state-focus-indicator-outer-offset);
        outline-color: rgb(var(--uk-sys-color-secondary));
    }
}

@keyframes label-fade-in-expanded {
    0% {
        opacity: 0;
        position: absolute;
    }
    30% {
        opacity: 0.25;
        position: relative;
        margin-left: -0.5rem;
    }
    100% {
        opacity: 1;
        position: relative;
        margin-left: 0;
    }
}

@keyframes label-fade-in-collapsed {
    0% {
        opacity: 0;
        position: absolute;
    }
    25% {
        opacity: 0;
        position: absolute;
    }
    50% {
        opacity: 0.25;
        position: absolute;
        top: 2rem;
    }
    100% {
        opacity: 1;
        position: absolute;
        top: 2.25rem;
    }
}
