.root {
    background-color: rgb(var(--uk-sys-color-outline-variant));
    --thickness: 1px;

    &[data-direction="horizontal"] {
        height: var(--thickness);

        &[data-width="full"] {
            width: 100%;
        }

        &[data-width="inset"] {
            width: calc(100% - 16px);
            margin-left: 16px;
        }

        &[data-width="middle-inset"] {
            width: calc(100% - 32px);
            margin-left: 16px;
            margin-right: 16px;
        }
    }

    &[data-direction="vertical"] {
        width: var(--thickness);

        &[data-width="middle-inset"] {
            height: calc(100% - 32px);
            margin-top: 16px;
            margin-bottom: 16px;
        }

        &[data-width="full"] {
            width: var(--thickness);
            height: 100%;
        }
    }
}
