.layout {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    height: 100vh;
    max-height: 100%;
    overflow: hidden;
}

.root {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: width var(--uk-sys-motion-duration-250) var(--uk-sys-motion-easing-emphasized-decelerate);
    gap: 0.25rem;

    &[data-type="modal"] {
        background-color: rgb(var(--uk-sys-color-surface-container));
    }
    &[data-type="surface"] {
        background-color: rgb(var(--uk-sys-color-surface));
    }

    &[data-expanded="true"] {
        width: 22.5rem;
    }
}

.pageRoot {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
    height: 100%;
}
