.root {
    --size: 5rem;

    user-select: none;
    pointer-events: none;
}

.image {
    width: var(--size);
    height: var(--size);
    animation: spin 2s var(--uk-sys-motion-easing-linear) infinite;

    @keyframes spin {
        from {
            rotate: 0deg;
        }
        to {
            rotate: 360deg;
        }
    }
}
